@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    font-family: "Space Grotesk", sans-serif;
}

.nav-logo {
    height: 56px;
}

.nav-btn {
    width: 200px;
    height: 60px;
    border-radius: 14px;
    background-color: transparent;
}
.nav-btn:hover{
    background-color: black;
    color: white;

}

.hero-head {
    font-size: 60px !important;
    font-weight: 500;
}

.hero-para {
    font-size: 20px;
}

.hero-img {
    width: 100%;
    height: 500px;
}

.hero-img img {
    object-fit: cover;
    width: 100%;
}

.hero-btn {
    width: 200px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 14px;
}

.col1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.brand-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.brand-row img {
    width: 120px;
    height: 48px;
}

.service {
    display: flex;
    gap: 35px;
}

.service h2 {
    background-color: #B9FF66;
    padding: 0 10px;
    font-size: 40px;

}

.service-para {
    margin: 0 !important;
    width: 510px;

}

.sec-service {
    height: 200px;
    display: flex;
    align-items: center;
}

.one {
    width: 80%;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    border-radius: 45px;
}

.sec-text {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sec-text h2 {
    background-color: #B9FF66;
    padding: 0 10px;
    font-size: 24px;
    margin: 0;
    border-radius: 3px;
}

.two {
    width: 80%;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B9FF66;
    border-radius: 45px;
}

.two h2 {
    background-color: #F3F3F3;
}

.faq1 {
    background-color: #B9FF66;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px 10px;
}

.faq-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-span {
    font-size: 40px;
}

.faq-span2 {
    height: 100%;
    display: block;
}

.text {
    display: flex;
    align-items: center;
}

.seperation {
    height: 1px;
    background-color: black;
    width: 95%;
    margin: auto;
}

.faq1 p {
    width: 95%;
    margin: auto;
    font-size: 16px !important;
}

.faq2 {
    background-color: #F3F3F3;
    border-radius: 25px;
    padding: 10px;
}









@media screen and (max-width: 480px) {
    .nav-btn{
        width: 95%;
        height: 40px;
        margin: auto;
    }
    .col1{
        gap: 20px;
    }
    .hero-head {
        font-size: 40px !important;
    }

    .hero-para {
        font-size: 16px;
    }

    .hero-btn {
        width: 100%;
    }

    .hero-img {
        width: 100%;
        height: 300px;
    }

    .hero-img img {
        object-fit: cover;
        width: 100%;
    }

    .brand-row img {
        width: 110px;
        height: 40px;
    }

    .nav-logo {
        height: 35px;
        width: 144px;
    }

    .service {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    .service {
        text-align: center;
    }

    .service-para {

        width: 95%;
    }

    .sec-img img {
        width: 140px;
        height: auto;
    }

    .headings h2 {
        font-size: 16px;
    }

    .sec-text {
        padding-left: 5px;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .col1 {
        text-align: center;
    }

    .hero-btn {
        width: 100%;

    }
}